#subnav
{
	background: #333;
	border-bottom: #888 solid 2px;
	padding-top: 2px;
	color: #fff;
	height: 20px;
}

#subnav a
{
	color: #fff;
}

#subnav li
{
	font-size: 12px;
}

#admin table, th, td
{
	text-align: left;
	border: 1px solid #ccc;
	border-collapse: collapse;
	padding: 5px;
}

#admin tr:nth-child(even)
{
	background: #eee;
}

.textbox
{
	margin: 10px 0px;
	padding: 6px;
	width: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
}

.textbox:hover
{
	border: 2px inset #aaa;
}

.textbox:focus
{
	border: 2px inset #000;
}

.button-wrapper
{
	display: inline;
	margin: 0;
	padding: 0;
}

.button-link
{
	background: none;
	border: 0;
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	font: inherit;
	color: inherit;
}

.button-link:hover
{
	text-decoration: underline;
}

.button-add
{
	border: 1px solid #ccc;
	padding: 5px;
}